<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zzd.mapper.SysCategoryMapper" >
  <resultMap id="BaseResultMap" type="org.zzd.pojo.SysCategory" >
    <id column="ID_" property="id" jdbcType="DECIMAL" />
    <result column="PID_" property="pid" jdbcType="DECIMAL" />
    <result column="NAME_" property="name" jdbcType="VARCHAR" />
    <result column="SORT_" property="sort" jdbcType="DECIMAL" />
    <result column="ENABLED_" property="enabled" jdbcType="DECIMAL" />
    <result column="OPERATOR_" property="operator" jdbcType="VARCHAR" />
    <result column="OP_TIME_" property="opTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID_, PID_, NAME_, SORT_, ENABLED_, OPERATOR_, OP_TIME_
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.zzd.pojo.SysCategoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_category
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_category
    where ID_ = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_category
    where ID_ = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="org.zzd.pojo.SysCategoryExample" >
    delete from sys_category
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.zzd.pojo.SysCategory" >
    insert into sys_category (ID_, PID_, NAME_, 
      SORT_, ENABLED_, OPERATOR_, 
      OP_TIME_)
    values (#{id,jdbcType=DECIMAL}, #{pid,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, 
      #{sort,jdbcType=DECIMAL}, #{enabled,jdbcType=DECIMAL}, #{operator,jdbcType=VARCHAR}, 
      #{opTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.zzd.pojo.SysCategory" >
    insert into sys_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID_,
      </if>
      <if test="pid != null" >
        PID_,
      </if>
      <if test="name != null" >
        NAME_,
      </if>
      <if test="sort != null" >
        SORT_,
      </if>
      <if test="enabled != null" >
        ENABLED_,
      </if>
      <if test="operator != null" >
        OPERATOR_,
      </if>
      <if test="opTime != null" >
        OP_TIME_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=DECIMAL},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=DECIMAL},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null" >
        #{opTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.zzd.pojo.SysCategoryExample" resultType="java.lang.Integer" >
    select count(*) from sys_category
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_category
    <set >
      <if test="record.id != null" >
        ID_ = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.pid != null" >
        PID_ = #{record.pid,jdbcType=DECIMAL},
      </if>
      <if test="record.name != null" >
        NAME_ = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null" >
        SORT_ = #{record.sort,jdbcType=DECIMAL},
      </if>
      <if test="record.enabled != null" >
        ENABLED_ = #{record.enabled,jdbcType=DECIMAL},
      </if>
      <if test="record.operator != null" >
        OPERATOR_ = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.opTime != null" >
        OP_TIME_ = #{record.opTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_category
    set ID_ = #{record.id,jdbcType=DECIMAL},
      PID_ = #{record.pid,jdbcType=DECIMAL},
      NAME_ = #{record.name,jdbcType=VARCHAR},
      SORT_ = #{record.sort,jdbcType=DECIMAL},
      ENABLED_ = #{record.enabled,jdbcType=DECIMAL},
      OPERATOR_ = #{record.operator,jdbcType=VARCHAR},
      OP_TIME_ = #{record.opTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.zzd.pojo.SysCategory" >
    update sys_category
    <set >
      <if test="pid != null" >
        PID_ = #{pid,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        NAME_ = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        SORT_ = #{sort,jdbcType=DECIMAL},
      </if>
      <if test="enabled != null" >
        ENABLED_ = #{enabled,jdbcType=DECIMAL},
      </if>
      <if test="operator != null" >
        OPERATOR_ = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null" >
        OP_TIME_ = #{opTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID_ = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zzd.pojo.SysCategory" >
    update sys_category
    set PID_ = #{pid,jdbcType=DECIMAL},
      NAME_ = #{name,jdbcType=VARCHAR},
      SORT_ = #{sort,jdbcType=DECIMAL},
      ENABLED_ = #{enabled,jdbcType=DECIMAL},
      OPERATOR_ = #{operator,jdbcType=VARCHAR},
      OP_TIME_ = #{opTime,jdbcType=TIMESTAMP}
    where ID_ = #{id,jdbcType=DECIMAL}
  </update>
</mapper>